:root {
    --clr-neutral-400: #f9faf8;
    --clr-neutral-500: #e5e7eb;
    --clr-primary-400: #3882d6;
    --clr-primary-500: #357bca;
    --clr-primary-600: #364457;
    --clr-primary-700: #1f2937;

    --fs-base: 1rem; /* 16px */
    --fs-lg: 1.125rem; /* 18px */
    --fs-xl: 1.25rem; /* 20px */
    --fs-2xl: 1.5rem; /* 24px */
    --fs-3xl: 1.875rem; /* 30px */
    --fs-4xl: 2.25rem; /* 36px */
    --fs-5xl: 3.75rem; /* 48px */
    --fs-6xl: 4.5rem; /* 60px */

    --radius: 0.5rem;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: var(--fs-base);
    color: var(--clr-primary-600);
    background-color: var(--clr-neutral-400);
}

h1,
h2 {
    color: var(--clr-primary-700);
    font-weight: 900;
    line-height: 1;
}

nav {
    background-color: var(--clr-primary-700);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 0;
}

.nav__logo {
    color: var(--clr-neutral-400);
    font-size: var(--fs-2xl);
    font-weight: 600;
}

.nav__list {
    display: none;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.nav__link {
    color: var(--clr-neutral-500);
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.nav__btn {
    position: absolute;
    right: 1.5rem;
    top: 2.75rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

header {
    background-color: var(--clr-primary-700);
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem;
}

.hero__content {
    max-width: 30rem;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.hero__heading {
    color: var(--clr-neutral-400);
}

.hero__text {
    color: var(--clr-neutral-500);
}

.hero__img {
    order: 1;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
}

.cards__item {
    flex-basis: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cards__square {
    border: solid 3px var(--clr-primary-400);
    border-radius: var(--radius);
    height: 8rem;
    width: 8rem;
}

/* Utility classes */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.show {
    display: flex;
}

.btn {
    color: var(--clr-neutral-500);
    border: none;
    padding: 0.5rem 1.5rem;
    background-color: var(--clr-primary-400);
    border-radius: var(--radius);
    cursor: pointer;
}

.btn:hover {
    color: var(--clr-neutral-400);
    background-color: var(--clr-primary-500);
}

.padding-y {
    padding: 4rem 0;
}

.center {
    text-align: center;
}

/* 640px */
@media only screen and (min-width: 40em) {
    body {
        font-size: var(--fs-lg);
    }

    .nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
    }
    .nav__btn {
        display: none;
    }
}
/* 768px */
@media only screen and (min-width: 48em) {
    header {
        padding-top: 6rem;
        padding-bottom: 10rem;
    }

    .hero {
        grid-template-columns: 2fr 3fr;
    }

    .hero__content {
        order: unset;
    }

    .hero__img {
        order: unset;
    }

    .padding-y {
        padding: 6rem 0;
    }
}
/* 1024px */
@media only screen and (min-width: 64em) {
    body {
        font-size: var(--fs-xl);
    }
    header {
        padding-top: 8rem;
        padding-bottom: 12rem;
    }

    .padding-y {
        padding: 8rem 0;
    }
}
